html{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}

*, *::after, *::before{
  box-sizing: inherit;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}

button{
  background-color: #3882f6;
  padding: 0.4rem 1.5rem;
  border: 2px solid #3882f6;
  border-radius: 5px;;
  color: white;
  font-weight: 700;
}

.wrapper{
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

/* Header */
header{
  padding: 1em 0;
  background: url(images/siesta-bg-nav.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero, footer{
  background-color: #fff;
  color: rgba(197, 31, 181, 0.767);
}

.header-links{
  display: flex;
  gap: 2em;
  list-style: none;
}


.header-links li,
.hero p{
  font-size: 18px;
  color: rgba(197, 31, 181, 0.767);
}
.hero p {
  color: black;
}
.header-links li a{
  font-weight: 700;
  color: #fff;
}

.logo{
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  align-items: center;
}

.logo img{
  border: 1px solid red;
  max-height: 50px;
}
/* Section Hero */

.hero{
  padding: 5em 0;
}
.hero .wrapper{
  display: flex;
  gap: 15em;
}

.hero h1{
  font-size: 48px;
  margin-bottom: 0.2em;
  font-weight: 900;
}
.hero p{
  line-height: 1.5;
  margin-bottom: 0.5em;
}



/* Section Random */

.random{
  text-align: center;
  padding: 8em 0;
  background: url(images/BG\ Services.png) no-repeat center center fixed;
  background-size: cover;
}

.random .info-boxes{
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-bottom: 1em;
}

.random .info-box{
  max-width: 200px;
}

.random .info-box img{
  border: 10px solid #ffffff;
  border-radius: 100px;
  margin-bottom: 1em;
  max-width: 200px;
  width: 100%;
  object-fit: stretch;
}

/* Section Testimonial */



.testimonial .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10em;
}

.testimonial p{
  margin-bottom: 1em;
}

.testimonial span{
  align-self: flex-end;
  margin-right: 5em;
}

.testimonial p{
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

/* Section CTA - Subscribe */

section.cta{
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/BG\ CTA.png) no-repeat center center;
  background-size: cover;
}

.cta .wrapper{
  display: flex;
  justify-content: center;
}
.cta .wrapper .card{
  background-color: #fff;
  color: #3f8dba;
  border: 1px solid #4b4b4b;
  border-radius: 15px;
  padding: 2em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.cta .card p{
  color: #000;
}


.card button {
  border: 2px solid white;
  flex: 0 0 auto;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}